@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
:root {
  --white: #ffffff;
  --black: #2c2c2c;
  --gray: #b6b6b6;
  --light-gray: #efefef;
  --purple: #644bc3;
  --light-purple: #f1effa;
  --gray-purple: #f3f2f7;
  --red: #c63d59;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  line-height: 1.4;
}

* {
  box-sizing: border-box;
  outline: none;
}
::placeholder {
  color: var(--gray);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--gray);
}

::-ms-input-placeholder {
  color: var(--gray);
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}
