.CourseBox {
  background: var(--gray-purple) url("../../assets/lines_blue.png") no-repeat;
  background-size: cover;
  padding: 1rem;
  padding-bottom: 8.625rem;
  width: 100%;
  max-width: 24em;
  border-radius: 1rem;
}
.CourseBox__Day {
  margin: 0;
  font-size: 2.625em;
  line-height: 1;
}
.CourseBox__Month {
  margin: 0;
}
.Course__Title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.Btn__Black {
  font-size: 1em;
  padding: 1rem 2rem;
  border: 0.125em solid var(--black);
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 400ms ease-out, color 400ms ease-out,
    border 400ms ease-out;
}
.Btn__Black:hover {
  border: 0.125em solid var(--black);
  background-color: transparent;
  color: var(--black);
}
.Course__Link {
  font-size: 1rem;
  margin: 0;
  transition: color 400ms ease-out;
  color: var(--purple);
  cursor: pointer;
}
.Course__Link:hover {
  text-decoration: underline;
}
.Link__review {
  font-size: 1rem;
  margin: 0;
  transition: color 400ms ease-out;
  cursor: pointer;
}
.Link__review:hover {
  color: var(--purple);
}
.Link__reviewIcon {
  vertical-align: middle;
  margin-right: 1rem;
}
