.formControl {
  padding: 1rem 0.75rem;
  background-color: var(--gray-purple);
  border: 2px solid var(--gray-purple);
  border-radius: 0.5rem;
  width: 100%;
  min-width: 100%;
  transition: border 400ms ease-out;
  font-size: 1rem;
}
.formControl:focus {
  border: 2px solid var(--purple);
}

.searchInputIcon {
  background: var(--gray-purple) url("../../assets/search.png") no-repeat scroll
    0.5rem 0.75rem;
  padding-left: 2.5rem;
}

.NotifyIcon {
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  background-color: var(--light-purple);
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
}
.NotifyIcon__material {
  color: var(--gray);
  transition: color 400ms ease-out;
}
.NotifyIcon:hover .NotifyIcon__material {
  color: var(--purple);
}
.NotifyIcon::after {
  content: " ";
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--red);
  border-radius: 50%;
  position: relative;
  top: -1.5rem;
  left: 0.8rem;
}

/* Course */
.Course {
  padding: 1rem 0.5rem;
  transition: box-shadow 400ms ease-out;
  cursor: pointer;
}
.Course:hover {
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}
.Course__focus {
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}
.Course__background {
  background-size: cover;
  border-radius: 0.75rem;
  padding: 0.75rem 0.75rem 2.5rem;
}
.Course__Day {
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
}
.Course__Mouth {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}
.Course__Title {
  margin: 0;
  font-size: 1.125em;
}
.Course__Like {
  margin: 0;
  margin-top: 1rem;
  font-size: 0.875em;
  font-weight: 400;
  color: var(--gray);
}
.Course__LikeIcon {
  margin: 0;
  margin-right: 0.5rem;
  color: var(--gray);
  vertical-align: middle;
  font-size: 1.125em !important;
}
.Course__Like.Liked,
.Course__LikeIcon.Liked {
  color: var(--purple);
}
