.Header__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Header__nav li {
  display: inline;
  margin-right: 1.5rem;
  cursor: pointer;
}
.imgFluidRounded {
  max-width: 3.5rem;
  display: block;
  border-radius: 50%;
  float: right;
}
.NameField {
  color: var(--gray);
  text-align: right;
}
@media (min-width: 768px) {
  .NameField {
    margin-right: 1rem;
  }
  .imgFluidRounded {
    float: none;
  }
}
